body {
    background-color: white;
    
}   
nav {
    display: flex;
    height: 100px;
    background-color: thistle;
    display: block;
}
header {
    display: flex;
    flex-direction: column;
    min-height: 911px;   
}
#splash-img {
    justify-content: center;
    flex-grow: 1;
    background: url(../images/gl-laying-down.jpg) no-repeat center / cover;
   
}
main {
    background-color: tomato;
    height: 200px;
}
