body {
    margin: 0;
    padding: 0;
}


/* -----------------------------------------------
    Header
-------------------------------------------------*/
.banner-wrapper {
    height: 100vh;
    background-image: url(../images/music/gl-laying-down.jpg);
    background-size: cover;
    background-position: center center;
}
.nav-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    transition: top .6s;
    background: rgba(2, 2, 2, 0.6);
    padding: 10px;
    overflow: hidden;
}
.menu-wrapper {
   display: flex;
}
.logo {
    width: 50%;
    color: white;
    margin-left: 3em;
}
.menu-wrapper nav {
    width: 50%;  
}
.menu-wrapper nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
}
.menu-wrapper li a {
    color: #fff;
    text-decoration: none;
    font-family: roboto;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
    text-underline-offset: 0.2em;
}
.menu-wrapper li a:hover {
    text-decoration-color: rgba(255, 255, 255,1);
    text-underline-offset: 0.4em;
}
.nav-wrapper.animate {
    top: -100px;
}
.nav-wrapper.sticky {
    top: 0;
    z-index: 100;
}
/*---------------------------------------
----------------------------------------*/
.home-statement {
    font-size: 2em;
    margin: 0 15%;
    line-height: 1.6;
    position: relative;
}
.home-statement p {
    font-family: 'Tulpen One', cursive;
    font-size: 2em;
    margin-top: 100px;
}
.home-statement p::before {
    content: open-quote;
    font-size: 800%;
    position: absolute;
    top: -.5em;
    left: -.2em;
    color: crimson;
}
#info-headline {
    font-size: 60px;
    font-family:  bignoodletitling;
    text-align: center;
    color: crimson;
}
.bio p {
    font-family: poppins;
    font-size: 18px;
    line-height: 1.8;
}
/*
p::first-letter {
    font-size: 300%;
    color: crimson;
}
*/
#info-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.info {
    width: 40%;
    height: auto;
    background-color: floralwhite;
    margin-bottom: 4em;
    flex: 0 1 auto;
    text-align: center;
    
}
.info img {
    width: 100%;
}
.info p {
    font-family: poppins;
    font-size: 24px;
    line-height: 1.8;
}