
nav {
    display: flex;
    height: 100px;
    background-color: thistle;
    display: block;
}
header {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   align-content: center;
   justify-content: center;
}
#hero-banner {
   grid-area: 1 / 1 / 2 / 2;
}
#hero-img {
    display: grid;
    width: 100%;
    height: auto;
    object-fit: cover;
}
main {
    background-color: tomato;
    height: 200px;
}
